*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}
body{
    background-color: lavenderblush;
}
.main
{
    width: 90%;
    margin: auto;
}
.box{
    width: 30%;
    padding: 5px;
    border: 3px solid black;
    float: left;
    text-align: justify;
    margin-left: 20px;
    position:relative;
    background-color: rgb(156, 152, 152);
}
/* .clr{
    clear: both;
} */

h1{
    text-align: center;
    margin-bottom: 50px;
}
.text-head{
    padding: 10px;
    /* position: relative; */
    /* background-color: red; */
    width: 100px;
    text-align: center;
    /* right: -236px;
    top: -6px; */
    border: 1px solid black;

}
.sub1{
    background-color: pink;
}
.sub2{
    background-color:red ;
}
.sub3{
    background-color: yellow;
}

/* -----destop site----- */
@media (max-width:1200px)
{
    .col-lg-3{
        width: 30%;
        float: left;
    }
}


/* ------medium site---- */
@media (min-width:768px) and (max-width:1199px)
{
    .col-md-6{
        width: 50%;
        float: left;
        margin-left:auto ;
    }
    .col-md-12{
        width: 100%;
        float: left;
        margin-left:auto ;
        margin-top: 5px;
    }
}

/* -------mobile site----- */
@media (max-width:767px)
{
    .col-sm-12{
        width: 100%;
        float: left;
        margin: 5px auto;
    }
}